# Yandex Cloud
export YC_TOKEN="$(yc iam create-token)"   # или укажите токен вручную
export YC_CLOUD_ID="ваш_cloud_id"
export YC_FOLDER_ID="ваш_folder_id"

# SSH
export TF_VAR_ssh_public_key="$(cat ~/.ssh/id_ed25519_monitoring.pub)"
export PRIVATE_KEY_PATH="$HOME/.ssh/id_ed25519_monitoring"

# Grafana
export GRAFANA_PASSWORD="пароль для графаны"

# SMTP (для Alertmanager)
export SMTP_HOST="smtp.yandex.ru"
export SMTP_PORT="587"
export SMTP_USER="mindmaze74@yandex.ru"
export SMTP_PASSWORD="пароль_приложения"
export SMTP_FROM="mindmaze74@yandex.ru"
export SMTP_TO="mindmaze74@yandex.ru"
export SMTP_TLS="true"
